[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
apyori = "*"
asttokens = "*"
astunparse = "*"
cachetools = "*"
category-encoders = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
cycler = "*"
et-xmlfile = "*"
executing = "*"
flatbuffers = "*"
fonttools = "*"
gast = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-pasta = "*"
grpcio = "*"
h5py = "*"
idna = "*"
joblib = "*"
keras = "*"
kiwisolver = "*"
libclang = "*"
matplotlib = "*"
nltk = "*"
numpy = "*"
oauthlib = "*"
openpyxl = "*"
opt-einsum = "*"
pandas = "*"
patsy = "*"
protobuf = "*"
pure-eval = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
regex = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
six = "*"
sklearn = "*"
sklearn-som = "*"
statsmodels = "*"
tensorboard = "*"
tensorboard-data-server = "*"
tensorboard-plugin-wit = "*"
tensorflow = "*"
tensorflow-io-gcs-filesystem = "*"
termcolor = "*"
tf-estimator-nightly = "*"
threadpoolctl = "*"
torch = "*"
tqdm = "*"
typing-extensions = "*"
urllib3 = "*"
varname = "*"
wrapt = "*"
yellowbrick = "*"
Keras-Preprocessing = "*"
Markdown = "*"
Pillow = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.10"
